<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <link rel="stylesheet" href="../../static/css/mange.css">
</head>
<body style="margin:auto 0">
    <div class="main_body">
        <div class="main_head">
            head
        </div>

        <div class="main_content_left">
            content
        </div>
        <div class="main_content_reight">
            content
        </div>
        <div class="main_bottom">
            bottom
        </div>

    </div>
</body>
</html>